@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}

.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
}

.black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #434343, #000000 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #434343, #000000 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-gradient {
    background: #019400;
    background: linear-gradient(-90deg, #01c900 0%, rgba(60, 168, 80, 0) 100%);
    background: -webkit-linear-gradient( -90deg, #00cea8 0%, rgba(60, 51, 80, 0) 100% );
}
/* Add these styles to your existing CSS file or create a new one */

/* Add these styles to your existing CSS file or create a new one */

/* Add these styles to your existing CSS file or create a new one */

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; /* Adjust spacing as needed */
  }
  
  .tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* Styles for specific tag colors */
  .tag.blue-text-gradient {
    background: linear-gradient(to right, #0099FF, #0066CC);
    color: white;
  }
  .gallery-image-modal {
    max-width: 100%;
    max-height: 400px; /* Adjust the maximum height as needed */
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  
  .tag.green-text-gradient {
    background: linear-gradient(to right, #00CC66, #009933);
    color: white;
  }
  
  .tag.pink-text-gradient {
    background: linear-gradient(to right, #FF66B2, #FF3399);
    color: white;
  }
  
  /* Add styles for additional tag colors as needed */
  
  /* Adjust the color for the text within the tags */
  .tag span {
    color: black; /* Change this to your desired text color */
  }
  
  
  
  /* Add styles for additional tag colors as needed */
  
.green-pink-gradient {
    background: "#019400";
    background: linear-gradient(90.13deg, #002b00 1.9%, #58a644 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #002b00 1.9%, #58a644 97.5%);
}
/* Add this CSS to your styles.css or equivalent file */

.gallery-container {
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Set a maximum width for the container, adjust as needed */
  }
  .body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  .canvas {
    display: block;
    vertical-align: bottom;
  }
 #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap between items as needed */
  }
  
  .gallery-col {
    flex: 1;
    max-width: 360px; /* Adjust the maximum width of each column as needed */
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add rounded corners to the images */
  }
  
.orange-text-gradient {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #f12711, #f5af19 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #f12711, #f5af19 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#wrap img.fake {
    width:50%;
  }
.green-text-gradient {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #11998e, #38ef7d ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #11998e, #38ef7d ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #2f80ed, #56ccf2 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #2f80ed, #56ccf2 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Add this to your CSS or styles file */
.expanded-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other elements */
}

.expanded-image {
  max-width: 90vw; /* Use maximum viewport width units to ensure responsiveness */
  max-height: 90vh; /* Use maximum viewport height units to ensure responsiveness */
  background: rgba(0, 45, 16, 0.9); /* Adjust background color opacity as needed */
  padding: 20px; /* Adjust as needed */
  text-align: center;
  display:flex;
  border-radius: 15px; /* Add rounded corners */
  position: relative; /* Add relative positioning to handle child absolute positioning */
}

.expanded-details {
  position: absolute;
  bottom: 20px; /* Adjust distance from the bottom */
  left: 20px; /* Adjust distance from the left */
  color: white; /* Text color */
  text-align: left;
}

.expanded-image img {
  width: 100%; /* Ensure the image takes up 100% of the container width */
  height: auto; /* Maintain the original aspect ratio */
  max-height: calc(90vh - 40px); /* Adjusted based on padding */
  border-radius: 10px; /* Add rounded corners to the image */
}

/* Add this to your CSS */
.carousel {
  width: 100%; /* Set the width as needed */
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center images vertically */
}

.carousel-item {
  width: 100%; /* Ensure each item takes the full width */
}

.carousel-image {
  width: 100%; /* Make sure images fill the carousel item */
  height: auto; /* Maintain aspect ratio */
}


.pink-text-gradient {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #ec008c, #fc6767 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #ec008c, #fc6767 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
